/*
*	 Author: Pedro J Rivera
*	 Template: Zmac Dashboard Template
*	 Version: 1.0
*	 Bootstrap version: 3.0.0
*	 Copyright 2014 Zmac
*	 www: http://www.zmactransport.com
*	 mail: pedror@zmactransport.com
---------------------------------------------------------------------------------------------- */

#bounty1 path[fill=none], #bounty2 path[fill=none], #bounty3 path[fill=none]{stroke:#fff;}
#bounty1 path{stroke:#29a2d7;}
#bounty2 path{stroke:#77af3b;}
#bounty3 path{stroke:#f79219;}

.text-white{color:#fff;}

#chartdiv{
  height: 400px;
  width:100%;
  
}

#logo{width:267px !important; height:111px !important; display:block}
.dash-logo{border:none !important; }
.navbar-brand{margin-top:-10px;}
.navbar{min-height:120px !important;}


.right-sidebar{top:120px !important;}
.selected{color:#fff !important; background-color:#609 !important}

.double-scroll{width:800px;}

.chart{font-size:14px; font-weight:bold; text-decoration:underline; color:#FFF !important}

a:hover{text-decoration:underline !important;}

a[title="JavaScript charts"]{display:none !important;}

.selected-bank{background-color:#A54BFF !important; color:#fff !important;}

.bg-purple-dark{background-color:#6c62af !important;}

.page-header{padding-right:20px !important;}