/*
*	 Author: Pedro J Rivera
*	 Template: Zmac Dashboard Template
*	 Version: 1.0
*	 Bootstrap version: 3.0.0
*	 Copyright 2014 Zmac
*	 www: http://www.zmactransport.com
*	 mail: pedror@zmactransport.com
---------------------------------------------------------------------------------------------- */
/*   Import External Css Files
---------------------------------------------------------------------------------------------- */
/******************* Color variables *********************/
/*	 Global Color variables @requested not to change these values if you are not sure of what you are doing
----------------------------------------------------------------------------------------------------------- */
/*	 Navbar variables @you change these variables , make sure to get a good color combination ;)
-------------------------------------------------------------------------------------------------- */
/* Desired height is 90px , below 80px is not recommended */
/*	 LeftSidebar variables @you change these variables , make sure to get a good color combination ;)
-------------------------------------------------------------------------------------------------- */
/*	 LeftSidebar variables @you change these variables , make sure to get a good color combination ;)
-------------------------------------------------------------------------------------------------- */
/*	 Panels variables
-------------------------------------------------------------------------------------------------- */
html,
body {
  height: 100%;
}
body {
  color: #ffffff;
  font-family: 'Open Sans';
  background: #54728c;
}
.widget-holder {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  margin-top: -255px;
  margin-left: -205px;
  width: 420px;
  height: 400px;
  text-align: center;
  color: #495b79;
}
i.fa {
  font-size: 150px;
}
.nav-input-search {
  margin-right: 0px;
  margin-top: 10px;
  float: none;
}
